header {
    text-align: center;
    margin: 2em auto;
}

div {
    text-align: center;
    padding: .5em;
}

span {
    text-align: center;
    padding: 1em;
}

svg {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.st0 {
    fill:none;
    stroke:#000000;
    stroke-width:4;
    stroke-miterlimit:10;
}

object {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.gameLabel {
    margin-bottom: .1em;
}

.gameValue {
    margin-bottom: 2em;
}

#blankWord {
    font-size: 1.25em;
    letter-spacing: .5em;
}